.searchbar-list{
    padding-bottom: 30px;
    padding-top: 30px;
    width:50%;
    display: flex;
    align-content: center;
}
.filters{
    width: 100%;
    display: flex; 
    padding-left: 10px;
    padding-bottom: 15px;
}
.container{
    margin-top: 30px;
}
.filterrf{
    padding-left: 20px;
}

.head{
    background: #000;
    color: aliceblue;
    text-align: start;
}
.td,th{
    width: fit-content;
}
